<main class="chats-communication">
	{{{ AsidePanel activePage="chats" }}}
	<div class="chats-communication__content">
		<section class="chats-communication__chats chats-section">
			<header class="chats-section__header">
				<h1 class="chats-section__title base-text base-text_size_l base-text_weight_medium">Чаты</h1>
				{{#BaseButton ariaLabel="Новый чат" variant="secondary" }}
					<div class="chats-section__add-icon rect-size masked-block"></div>
				{{/BaseButton}}
			</header>
			<div class="chats-section__search">
				{{{ BaseInput
					placeholder="Найти чат..." 
					name="search" 
					id="search" 
					type="text" 
				}}}
				<div class="chats-section__search-icon rect-size masked-block"></div>
			</div>
			<div class="chats-section__list">
				{{#each chats}}
					{{{ ChatsListItem isActive=(is-equal 1 @index) }}}
				{{/each}}
			</div>
		</section>
		<section class="chats-communication__chat-window chat-window">
			{{#with currentChat}}
				<section class="chat-window__inner">
					<header class="chat-window__header">
						<div class="chat-window__header-info">
							{{{ BaseAvatar alt="Аватар чата {{ title }}" url=avatar }}}
							<h3 class="chat-window__title base-text base-text_size_l base-text_weight_medium">{{ title }}</h3>
						</div>
						{{#BaseButton ariaLabel="Открыть настройки чата" variant="secondary" }}
							<div class="chat-window__options-icon rect-size masked-block"></div>
						{{/BaseButton}}
					</header>
					<div class="chat-window__content">
						<ul class="chat-window__message-list">
							{{#each history}}
								{{{ ChatMessage isIncoming=(is-odd @index) }}}
							{{/each}}
						</ul>
					</div>
					<footer class="chat-window__footer">
						<form class="chat-window__form">
							<textarea 
								class="chat-window__message-input base-text"
								placeholder="Сообщение"
								aria-label="Сообщение"
								name="message"
								id="message"	
							></textarea>
							{{#BaseButton 
								 ariaLabel="Прикрепить вложение"
								 className="chat-window__attach-button" 
								 variant="tertiary" 
								 type="button"
							}}
								<div class="chat-window__attach-icon rect-size masked-block"></div>
							{{/BaseButton}}
							{{#BaseButton
								 ariaLabel="Отправить сообщение"
								 className="chat-window__send-button"
								 variant="quaternary"
								 type="submit"
							}}
								<div class="chat-window__send-icon rect-size masked-block"></div>
							{{/BaseButton}}
						</form>
					</footer>
				</section>
			{{else}}
				<div class="chat-window__empty" role="status">
					<picture class="chat-window__empty-wrapper rect-size">
						<img
							class="chat-window__empty-image"
							src="/logo-big.svg"
							alt="Логотип мессенджера «ME Чат»"
						/>
					</picture>
					<span class="chat-window__empty-text base-text base-text_size_m">Выберите чат, чтобы начать переписку.</span>
				</div>
			{{/with}}
		</section>
	</div>
</main>
