<label class="base-input">
	{{#if label}}
		<span class="base-input__label base-text XS">{{ label }}</span>
	{{/if}}
	<input
		class="base-input__input base-text S {{#if error}}base-input__input_negative{{/if}}"
		placeholder="{{ placeholder }}"
		name="{{ name }}"
		type="{{ type }}"
		id="{{ id }}"
	/>
	{{#if error}}
		<span class="base-input__error-text base-text XS">{{ error }}</span>
	{{/if}}
</label>