<label class="base-input base-input_variant_{{ set-default variant "primary" }}">
	{{#if label}}
		<span 
			class="
				base-input__label 
				base-text 
				{{#if (is-equal variant "primary")}} base-text_size_xs {{else}} base-text_size_m {{/if}}
			"
		>
			{{ label }}
		</span>
	{{/if}}
	<input
		class="
			base-input__input 
			base-text 
			{{#if error}} base-input__input_invalid {{/if}}
		"
		placeholder="{{ placeholder }}"
		value="{{ defaultValue }}"
		name="{{ name }}"
		type="{{ set-default type "text" }}"
		id="{{ id }}"
		{{#if readonly}} readonly {{/if}}
		{{#if error}} aria-invalid="true" aria-describedby="{{ id }}-error" {{/if}}
	/>
	{{#if error}}
		<span id="{{ id }}-error" class="base-input__error-text base-text base-text_size_xs">{{ error }}</span>
	{{/if}}
</label>
