<button 
	class="base-button base-button_type_{{ set-default type "primary" }} {{ className }} {{#if (not-equal type "primary")}}rect-size{{/if}} base-text M Medium" 
	aria-label="{{ ariaLabel }}" 
	type="{{ type }}"
	{{ disabled }}
>
	{{> @partial-block }}
</button>